<header>
  <% include ../views/header %>
</header>

<div class="container">

  <main>
    <div class="row">
      
      <div class="col-sm-8">
        <div class="jumbotron">
          <h2>About earthlings... </h2>
          <p></p>
          <p><%= data.ip %></p>
         
        </div>
      </div>
      
      <div class="col-sm-4">
      
         
          <img src="https://mavestore.blob.core.windows.net/testcontainer/BodyPart_a241c572-d23c-4d36-9a23-5f349b3f71ee"/>
        
      </div>
    </div>
  </main>
  
  <!--<footer>
    <% include ../views/footer %>
  </footer>-->

</div>
    
